<footer class="mt-auto py-3 text-center">
<hr>
  <p style="font-size: 15px" text-muted mb-2 >
    <i class="fas fa-code"></i> with <i class="fas fa-heart"></i>
    <br>
    <strong>Wanna discuss something? Feel free to ping me!</strong>
  </p>

  {% include social.html %}

  {%- assign theme_name = "portfolYOU" -%}
  {%- assign theme_repo = "https://github.com/YoussefRaafatNasry/portfolYOU" -%}
  <small id="attribution">
    theme <a href="{{ theme_repo }}">{{ theme_name }}</a>
  </small>
  
</footer>