
<br>
<br>

<div class="row justify-content-center align-items-center p-10">
  <div class="col-lg-4 col-md-6 text-center mt-10">

    <!-- Fine Circle Responsive Image -->
    <div id="container" class="my-2">
      <div id="dummy"></div>
      <div id="element">
        <img src="imgs/naren_profile.jpg" alt="{{ site.title }}" class="circle-image wow animated" data-wow-delay=".1s">
      </div>
    </div>
  </div>
</div>

<div class="row justify-content-center align-items-center p-10">
  <div class="col-lg-6 col-md-9 text-center mt-10">
    <p style="font-size: 20px" class="text-muted wow animated slideInUp" data-wow-delay=".15s">{{ site.description }}</p>
  </div>
</div>

<html>
   <head>
      <meta http-equiv = "refresh" content = "5; url = https://naren200.github.io/about/" />
   </head>
</html>
