html {
  padding-left: calc(10vw - 100%);
}

body {
  font-family: "Open Sans", sans-serif;
}

.badge {
  font-weight: 500;
}

.bg-light,
.badge-light {
  &,
  * {
    color: $text-black !important;
  }
}

.bg-dark,
.badge-dark {
  &,
  * {
    color: $text-white !important;
  }
}

.single-x-portfolio .x-portfolio .entry-extra {
  display: none !important;
}
.single-x-portfolio .x-portfolio .entry-info {
  width: 100% !important;
}
