/**
 * Reset some basic elements
*/

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
hr,
dl,
dd,
ol,
ul,
figure {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  font-family: "San Francisco", sans-serif;
  font-size: 18px; /* Adjust the font size as needed */
}


/**
* Set `margin-bottom` to maintain vertical rhythm
*/
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
ul,
ol,
dl,
figure,
%vertical-rhythm {
  margin-bottom: $spacing-unit / 2;
}

 

/**
* Lists
*/
ul,
ol {
  margin-left: $spacing-unit;
}

li {
  padding-left: 10px;
  > ul,
  > ol {
    margin-bottom: 0;

  }
}
 

 

html {
  padding-left: calc(10vw - 100%);
}

body {
  font-family: "San Francisco", sans-serif
}

.badge {
  font-weight: 500;
}

.bg-light,
.badge-light {
  &,
  * {
    color: $text-black !important;
  }
}

.bg-dark,
.badge-dark {
  &,
  * {
    color: $text-white !important;
  }
}

.revolvermap-container {
  width: 100%; /* Adjust the width as needed */
  height: 500px; /* Adjust the height as needed */
}


