// Fine Circle Responsive Image
// Inspired by https://stackoverflow.com/a/6615994/10194811

* {
	margin: 0;
	padding: 0;
	scroll-behavior: auto;
}

body.landing {
	background: linear-gradient(to right, rgb(5, 25, 55), rgb(0, 77, 122), rgb(0, 135, 147));//, #a8eb12);	
  }

.parallax {
	position: relative;
	display: flex; 
	justify-content: center;
	height: 100vh;
	width: 100%;
	overflow: hidden;
    // background: linear-gradient(to right, #051937, #004d7a, #008793, #00bf72);//, #a8eb12);	
	background: linear-gradient(to right, rgb(5, 25, 55), rgb(0, 77, 122), rgb(0, 135, 147));//, #a8eb12);	
	background-attachment: fixed;
	#house {
		z-index: 3;
	}
	#robot {
		z-index: 4;
	}
	#name {
		z-index: 2;
	}
	#grass {
		z-index: 2;
		height: 100% !important;
	}
}
.parallax img {
	position: absolute;
	background-position: 50% 50%;
	top: 0;
	left: 0;
	width: 100%;
	height: auto;
	object-fit: cover;
	overflow: hidden;
	pointer-events: none;
}

/* Small devices (phones) */
@media only screen and (max-width: 967px) {
    .parallax {
        height: 50vh;
        align-items: center;
        width:auto;
    }

	#house{
		z-index: 3;
		height: 100% !important;
	}
	#mountain {
		z-index: 1;
		height: 100% !important;
	}
	#robot {
		z-index: 5;
		right: 0;
        // transform: scale(0.2); /* Adjust the scale as needed */
		height: 100% !important;
	}

	#name {
		z-index: 2;
		transform: scale(1.1) translate(0%, 20%);
	}
	#sun {
		z-index: 6;
	}
	#grass {
		z-index: 2;
		height: 100% !important;
	}
}


/* Small devices (phones) */
@media only screen and (max-width: 1867px) {
    .parallax {
        height: 50vh;
        align-items: center;
        width:auto;
    }

	#house{
		z-index: 3;
		height: 100% !important;
	}
	#mountain {
		z-index: 1;
		height: 100% !important;
	}
	#robot {
		z-index: 5;
		right: 0;
        // transform: scale(0.2); /* Adjust the scale as needed */
		height: 100% !important;
	}

	#name {
		z-index: 2;
		top: 7%;
	}
	#sun {
		z-index: 6;
	}
	#grass {
		z-index: 2;
		height: 100% !important;
	}
}

.sec {
	position: relative;
	padding: 50px;
	overflow: hidden;
	height: 100%;
	background: linear-gradient(to right, rgb(5, 25, 55), rgb(0, 77, 122), rgb(0, 135, 147));//, #a8eb12);	
}

.about-me {
    padding-top: 60px;
    padding-bottom: 10px;
	text-align: center;
}

/* Bigger devices (Tablets) */
@media only screen and (max-width: 1867px) {
	.about-me-text {
		width: 750px;
		text-align: center;
		font-size: 24px;
		font-weight: 300;
		margin: 0 auto;
		padding-top: 30px;
		padding-bottom: 15px
	}
}

/* Medium devices (phones) */
@media only screen and (max-width: 967px) {
	.about-me-text {
		width: 350px;
		text-align: center;
		font-size: 20px;
		font-weight: 300;
		margin: 0 auto;
		padding-top: 30px;
		padding-bottom: 15px
	}
}
/* Small devices (phones) */
@media only screen and (max-width: 367px) {
	.about-me-text {
		width: 350px;
		text-align: center;
		font-size: 24px;
		font-weight: 300;
		margin: 0 auto;
		padding-top: 30px;
		padding-bottom: 15px
	}
	}



.about-me-title {
    margin-bottom: 30px
}

.about-me-text {
    width: 750px;
    text-align: center;
    font-size: 24px;
    font-weight: 300;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 15px
}

.about-me-awards {
    list-style-type: none;
    padding: 0;
    margin: 0;
    padding-bottom: 40px
}

.about-me-award {
    display: inline-block;
    vertical-align: middle;
    padding-left: 16px;
    padding-right: 16px
}

.project-section {
	background: linear-gradient(to right, rgb(5, 25, 55), rgb(0, 77, 122), rgb(0, 135, 147));//, #a8eb12);	
}
.experience-section {
	padding: 80px;
	background: linear-gradient(to right, rgb(5, 25, 55), rgb(0, 77, 122), rgb(0, 135, 147));//, #a8eb12);	
}
.parallax:after {
content: '';
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: linear-gradient(to right, rgba(5, 25, 55, 0.55), rgba(0, 77, 122, 0.40), rgba(0, 135, 147, 0.45)); //, rgba(0, 191, 114, 0.35));
z-index: 1000;
mix-blend-mode: color;
}

.sec {
    color: white; /* Set the text color to white */
}

// footer {
// 	background: linear-gradient(to right, rgb(5, 25, 55), rgb(0, 77, 122), rgb(0, 135, 147));//, #a8eb12);	
// }

footer i {
    color: #08910f;
  }
  
  /* Change color for the icons on hover */
  footer i:hover {
    color: #6be9ff;
  }

