// Fine Circle Responsive Image
// Inspired by https://stackoverflow.com/a/6615994/10194811

#container {
  display: inline-block;
  position: relative;
  width: 100%;
}

#dummy {
  padding-top: 100%; /* 1:1 aspect ratio */
}

#element {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999; /* Set a high z-index to place it on top */

}

  
.circle-image {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}
* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	list-style: none;
	scroll-behavior: smooth;
}

:root {
	--loader: #fff;
	--particle: #0ff;
	--primary: #060a18;
	--secondary: #0ff;
	--white: #fff;
	--black: #000;
	--blue: #010824;
	--grey-0: #f8f8f8;
	--grey-1: #dbe1e8;
	--grey-2: #b2becd;
	--grey-3: #6c7983;
	--grey-4: #454e56;
	--grey-5: #2a2e35;
	--grey-6: #12181b;
	--gradient-0: linear-gradient(45deg, #ff9000, #7f02ed);
	--gradient-1: linear-gradient(90deg, #ff0162, #0ff);
	--gradient-2: linear-gradient(45deg, #e45b00, #8e02df, #ff0062);
	--br-sm-2: 14px;
	--transition: all 400ms ease-in-out;
	--box-shadow-1: 0 0 10px rgba(0, 0, 0, 0.6);
}




body {
	background-color: var(--white);
	font-family: lato, sans-serif;
	font-size: 1.1rem;
	color: var(--black);
	-webkit-transition: var(--transition);
	transition: var(--transition);
	overflow-x: hidden;
}
/* Default styles for larger screens */
// body {
//     font-size: 16px;
//     background-color: #ffffff;
//     padding: 20px;
// }

/* Mobile-specific styles for screens with a max width of 768px */
@media (max-width: 868px) {
	#element {
		width: 60%; /* Adjust the width as needed */
		height: 60%; /* Allow the height to adjust based on the image's aspect ratio */
		margin: 0 auto; /* Center the "element" div horizontally */
		position: relative;	
		z-index: 9999; /* Set a high z-index to place it on top */

	}
	#dummy {
		width: 100%; /* Match the width of the parent (#element) div */
		position: absolute;
	}
	
	/* You can add more mobile-specific styles here as needed */
}
/* Default styles for smaller screens */
body{
    font-size: 15px; /* Default font size for smaller screens */
}

/* Larger font size for screens with a min width of 1200px (adjust as needed) */
@media (min-width: 800px) {
    body {
        font-size: 18px; /* Larger font size for larger screens */
    }
}

/* Default font size for the paragraph for smaller screens */
p {
    font-size: 15px; /* Adjust the font size as needed for smaller screens */
}

/* Larger font size for the paragraph for screens with a min width of 768px (adjust as needed) */
@media only screen and (min-width: 800px) { // >= givenPX
    p {
        font-size: 20px; /* Larger font size for larger screens */
    }
}


a {
	display: inline-block;
	text-decoration: none;
	color: --black;
	font-family: inherit;
	cursor: pointer !important;
	transition: text-decoration 0.2s; /* Add a smooth transition */

}
  

.active {
	display: block;
	-webkit-animation: scaled 1s ease forwards;
	animation: scaled 1s ease forwards;
	-webkit-animation-delay: 0;
	animation-delay: 0;
}

@-webkit-keyframes scaled {
	from {
		-webkit-transform: translateY(-100%) scaleY(0);
		transform: translateY(-100%) scaleY(0);
	}

	to {
		-webkit-transform: translateY(0) scaleY(1);
		transform: translateY(0) scaleY(1);
	}
}

@keyframes scaled {
	from {
		-webkit-transform: translateY(-100%) scaleY(0);
		transform: translateY(-100%) scaleY(0);
	}

	to {
		-webkit-transform: translateY(0) scaleY(1);
		transform: translateY(0) scaleY(1);
	}
}

body {
	background-color: #cecbc4;
	background-image: -webkit-gradient(linear, center top, center bottom, color-stop(0%, #fbfbfb),
		color-stop(100%, #cecbc4));
	background-image: -webkit-linear-gradient(top, #fbfbfb 0%, #cecbc4 100%);
	background-image: -moz-linear-gradient(top, #fbfbfb 0%, #cecbc4 100%);
	background-image: -ms-linear-gradient(top, #fbfbfb 0%, #cecbc4 100%);
	background-image: -o-linear-gradient(top, #fbfbfb 0%, #cecbc4 100%);
	background-image: linear-gradient(to bottom, #fbfbfb 0%, #cecbc4 100%);
}

div#loader_container {
	width: 80%;
	max-width: 400px;
	margin: 10px auto;
	text-align: center;
	padding-top: 10px;
}

div#redirecting_text {
	position: absolute;
	font-size: 16px;
	font-weight: bold; /* Make it bold */
	top: -7px;
	left: 30%;
	transform: translateX(-50%);
	color: #fff; /* White color */
}

div#bar_container {
	height: 10px;
	background: #dcdbd7;
	border-radius: 20px;
	border-top: 1px solid #cfcec9;
	border-bottom: 1px solid #f7f6f4;
	box-shadow: 0 -1px 0 #bab9b4;
	margin-bottom: 24px;
	position: relative;
}

div#progress_bar {
	background-color: #81e615;
	background-image: -webkit-gradient(linear, center top, center bottom, color-stop(0%, #9fbff4),
		color-stop(100%, #555bb4));
	background-image: -webkit-linear-gradient(top, #03e2ff 0%, #8400ff 100%);
	background-image: -moz-linear-gradient(top, #03e2ff 0%, #8400ff 100%);
	background-image: -ms-linear-gradient(top, #03e2ff 0%, #8400ff 100%);
	background-image: -o-linear-gradient(top, #03e2ff 0%, #8400ff 100%);
	background-image: linear-gradient(to bottom, #03e2ff 0%, #8400ff 100%);
	height: 110%;
	position: absolute;
	top: -1px;
	left: 0px;
	border-top: 1px solid #e5ebf4;
	border-radius: 20px;
	box-shadow: 0 3px 10px #717171;
	width: 10%;
	transition: width 0.1s ease-in-out;
}


div#text_container {
	color: #def3e0;
	/* font-weight: bold; */
	font-size: 20px;
	text-shadow: -1px 1px 1px #d1d0cc;
}

div#text_container span {
	display: block;
	font-weight: normal;
	font-size: 11px;
	margin-top: 6px;
}

// /*# sourceMappingURL=style.css.map */
