.project.card {
  border-radius: $rounded-borders;
  text-decoration: none !important;
  margin: 0px auto;
  margin-top: 10px;
  margin-bottom: 10px !important;/* Adjust the margin-bottom value for more spacing */


  .card-img-top {
    border-radius: $rounded-borders $rounded-borders 0 0;
    width: 100%;
    height: 30vw;
    object-fit: cover;
  }

  transition: transform 400ms;

  &:hover:not(.post) {
    transform: translateY(-8px);
    box-shadow: -2px 8px 40px -12px rgba(0, 0, 0, 0.44);
  }
}

// Cards
.card {
  // background-color: $dark-600;
  // background-color: transparent;
  background-color: rgba(0, 2, 53, 0.175); //rgba(0, 0, 0, 0.318);
  // background-color: var(--uia-timeline-point-background-color, rgba(0, 53, 32, 0.616));
  backdrop-filter: blur(100px); /* Add a blur effect */
}

.card.border {
  .card-footer {
    background-color: rgba(248, 248, 248, 0.548);
  }
}



/* Default styles for smaller screens */
.card-title {
  font-size: 14px; /* Default font size for h5 */
}

.card-text {
  font-size: 14px; /* Default font size for p */
}

/* Medium-sized screens (adjust the max-width as needed) */
@media (min-width: 575px) {
  .card-title {
    font-size: 17px; /* Adjust font size for h5 on medium screens */
  }

  .card-text {
    font-size: 14px; /* Adjust font size for p on medium screens */
  }


  .project.card {
    border-radius: $rounded-borders;
    text-decoration: none !important;
    margin: 0px auto;
    margin-top: 10px;
  
    .card-img-top {
      border-radius: $rounded-borders $rounded-borders 0 0;
      width: 100%;
      height: 8vw;
      object-fit: cover;
    }
  
    transition: transform 400ms;
  
    &:hover:not(.post) {
      transform: translateY(-8px);
      box-shadow: -2px 8px 40px -12px rgba(0, 0, 0, 0.24);
    }
  }
  
}

/* Larger screens (adjust the min-width as needed) */
@media (min-width: 1200px) {
  .card-title {
    font-size: 22px; /* Adjust font size for h5 on larger screens */
  }

  .card-text {
    font-size: 18px; /* Adjust font size for p on larger screens */
  }
}


/* Default styles for the iframe */
iframe {
  width: 100%; /* Default width for all screens */
  height: 100px; /* Default height for all screens */
  margin: 0 auto;
  
}

/* Media query for screens with a maximum width of 600px */
@media (max-width: 600px) {
  .project.card {
    border-radius: $rounded-borders;
    text-decoration: none !important;
    margin: 0px auto;
    margin-top: 10px;
  
    .card-img-top {
      border-radius: $rounded-borders $rounded-borders 0 0;
      width: 100%;
      height: 35vw;
      object-fit: cover;
    }
  
    transition: transform 400ms;
  
    &:hover:not(.post) {
      transform: translateY(-8px);
      box-shadow: -2px 8px 40px -12px rgba(0, 0, 0, 0.24);
    }
  }

  iframe{
    width: 100%; /* Set a different width for screens <= 600px */
    height: 200px; /* Set a different height for screens <= 600px */
  }
}

/* Media query for screens with a minimum width of 601px and a maximum width of 1200px */
@media (min-width: 601px) and (max-width: 1200px) {
  .project.card {
    border-radius: $rounded-borders;
    text-decoration: none !important;
    margin: 0px auto;
    margin-top: 10px;
  
    .card-img-top {
      border-radius: $rounded-borders $rounded-borders 0 0;
      width: 100%;
      height: 15vw;
      object-fit: cover;
    }
  
    transition: transform 400ms;
  
    &:hover:not(.post) {
      transform: translateY(-8px);
      box-shadow: -2px 8px 40px -12px rgba(0, 0, 0, 0.24);
    }
  }

  iframe {
    width: 100%; /* Set a different width for screens between 601px and 1200px */
    height: 400px; /* Set a different height for screens between 601px and 1200px */
    display: block;
  }

}

/* Media query for screens with a minimum width of 1201px */
@media (min-width: 1201px) {
  .project.card {
    border-radius: $rounded-borders;
    text-decoration: none !important;
    margin: 0px auto;
    margin-top: 10px;
  
    .card-img-top {
      border-radius: $rounded-borders $rounded-borders 0 0;
      width: 100%;
      height: 10vw;
      object-fit: cover;
    }
  
    transition: transform 400ms;
  
    &:hover:not(.post) {
      transform: translateY(-8px);
      box-shadow: -2px 8px 40px -12px rgba(0, 0, 0, 0.24);
    }
  }

  iframe {
    width: 70%; /* Set a different width for screens >= 1201px */
    height: 400px; /* Set a different height for screens >= 1201px */
    text-align: center;
    display: block; // Ensures the iframe is treated as a block-level element
  }

}


/* Media query for screens with a maximum width of 600px */
@media (max-width: 600px) {
  h1 {
    font-size: 1.3em; /* Set a different font size for h1 on screens <= 600px */
  }

  h2 {
    font-size: 1.2em; /* Set a different font size for h2 on screens <= 600px */
  }

  h3 {
    font-size: 1.1em; /* Set a different font size for h3 on screens <= 600px */
  }

  h4 {
    font-size: 1.15em; /* Set a different font size for h4 on screens <= 600px */
  }

  h5 {
    font-size: 1em; /* Set a different font size for h5 on screens <= 600px */
  }

  body {
    font-size: 0.9em; /* Set a different font size for body on screens <= 600px */
  }
}

/* Media query for screens with a minimum width of 601px and a maximum width of 1200px */
@media (min-width: 601px) and (max-width: 1200px) {
  h1 {
    font-size: 2em; /* Set a different font size for h1 on screens between 601px and 1200px */
  }

  h2 {
    font-size: 1.8em; /* Set a different font size for h2 on screens between 601px and 1200px */
  }

  h3 {
    font-size: 1.6em; /* Set a different font size for h3 on screens between 601px and 1200px */
  }

  h4 {
    font-size: 1.4em; /* Set a different font size for h4 on screens between 601px and 1200px */
  }

  h5 {
    font-size: 1.2em; /* Set a different font size for h5 on screens between 601px and 1200px */
  }

  body {
    font-size: 1em; /* Set a different font size for body on screens between 601px and 1200px */
  }
}

/* Media query for screens with a minimum width of 1201px */
@media (min-width: 1201px) {
  h1 {
    font-size: 2.5em; /* Set a different font size for h1 on screens >= 1201px */
  }

  h2 {
    font-size: 2.2em; /* Set a different font size for h2 on screens >= 1201px */
  }

  h3 {
    font-size: 1.8em; /* Set a different font size for h3 on screens >= 1201px */
  }

  h4 {
    font-size: 1.6em; /* Set a different font size for h4 on screens >= 1201px */
  }

  h5 {
    font-size: 1.4em; /* Set a different font size for h5 on screens >= 1201px */
  }

  body {
    font-size: 1.2em; /* Set a different font size for body on screens >= 1201px */
  }
}
