$dark-100: #00bf72;
$dark-300: #ffffff;
$dark-600: #164058;
$dark-900: #000000;

[data-theme="dark"] {
  body {
    // background: linear-gradient(to right, hwb(215 2% 78%), #004d7a, #008793, #00bf72);//, #a8eb12);	
    background-image: url(../../imgs/assets/3.webp);
    background-position: center;
    color: $text-white;
  }
  
  #text_container {
    // Existing styles for text container
    color: #fff; // Set the text color to the primary text color
  }
  #text_container {
    text-align: center;

    h3.text-muted.wow.animated.slideInUp {
      color: #fff; // Set the text color to the primary text color
    }
  }

  // Code blocks & Syntax highlighting

  @import "native.scss";

  pre,
  code.highlighter-rouge {
    @extend .highlight;
    border: none;
  }

  .gist {
    filter: invert(90%) hue-rotate(180deg);
  }

/* Assuming you have a class named 'text-block' for your text elements */
.text-block {
  background: rgba(0, 0, 0, 0.5); /* Adjust the alpha channel (0.5 for 50% transparency) */
  color: #fff; /* Set text color to white or a color that contrasts well with the background */
  padding: 20px; /* Adjust padding as needed */
}

footer i {
  color: #ffffff;
}

/* Change color for the icons on hover */
footer i:hover {
  color: #97e9f8;
}

  // Inputs
  input {
    background-color: $dark-300;
    border-color: $dark-100;
    color: $dark-900;

    &::placeholder {
      color: rgba($text-white, 0.64);
    }

    &:focus {
      background-color: $dark-600;
      color: $text-white;
    }
  }


  // Tables
  table:not(.highlight) {
    td {
      border-color: $dark-600;
    }

    tr:nth-child(even) {
      background-color: $dark;
    }
  }
  a {
      color: #6be9ff;
  }
  .custom-project-link {
    color: #fff;/* your desired color */;
    /* Add any other styles you want */
  }
  
  /* Hyperlink styles on hover and focus */
  a:hover,
  a:focus {
    color: #6be9ff !important;  /* Change the color on hover or focus */
  }

  // Lists
  .list-group-item-action {
    background-color: $dark-600;
    color: $text-white;

    &:hover,
    &:focus {
      background-color: darken($color: $dark-600, $amount: 3);
    }
  }

  // Timeline 
  .timeline-body .timeline-item:after{
    background-color: $dark-900;
  }

  [data-uia-timeline-skin="3"] .uia-timeline__point{
    // background-color: var(--uia-timeline-point-background-color, rgba(0, 53, 32, 0.616));
    background-color: rgba(0, 2, 53, 0.272); //rgba(0, 0, 0, 0.318);
    border-radius: var(--uia-card-border-radius, 10px); /* Adjust the radius as needed */
    }

  .uia-card__container {
      // background-color: rgba(0, 53, 32, 0.616); // Set the background color to white or any desired color
      backdrop-filter: blur(100px); /* Add a blur effect */
    }
  hr {
      border: none;
      height: 1px;
      background-color: rgba(255, 255, 255, 0.473); /* Change the color to white */
  }   
}


$dark-100: #00bf72;
$dark-300: #ffffff;
$dark-600: #fff;
$dark-900: #000000;

[data-theme="light"] {
  body {
    background: #fff;//, #a8eb12);	
    color: $text-black;
    color: #000; /* Set text color to black */
  }
  #text_container {
    // Existing styles for text container
    color: #000; // Set the text color to the primary text color
  }
  #text_container {
    text-align: center;

    h3.text-muted.wow.animated.slideInUp {
      color: #000; // Set the text color to the primary text color
    }
  }

  @import "native.scss";


  pre,
  code.highlighter-rouge {
    @extend .highlight;
    border: none;
  }

  .gist {
    filter: invert(90%) hue-rotate(180deg);
  }

  // Inputs
  input {
    background-color: $dark-300;
    border-color: $dark-100;
    color: $dark-900;

    &::placeholder {
      color: rgba($text-white, 0.64);
    }

    &:focus {
      background-color: $dark-600;
      color: $text-white;
    }
  }

  // Cards
  .card {
    background-color: rgba(187, 255, 213, 0.46);
  }

  .card.border {
    .card-footer {
      background-color: rgba(255, 255, 255, 0.548);
    }
  }

  // Tables
  table:not(.highlight) {
    td {
      border-color: $dark-600;
    }

    tr:nth-child(even) {
      background-color: $dark;
    }
  }
  a {
      color: #001dfb9e //#1537f6b4 !important; /* Change to your desired hyperlink color */
  }

  /* Hyperlink styles on hover and focus */
  a:hover,
  a:focus {
    color: #1537f6 !important;  /* Change the color on hover or focus */
  }

  // Lists
  .list-group-item-action {
    background-color: $dark-600;
    color: $text-white;

    &:hover,
    &:focus {
      background-color: darken($color: $dark-600, $amount: 3);
    }
  }

  // Timeline 
  .timeline-body .timeline-item:after{
    background-color: $dark-900;
  }



  [data-uia-card-skin="1"] .uia-card__time {
    background-color: #4557bb77 ; /* Set to white background color */
  }
  [data-uia-timeline-skin="3"] .uia-timeline__point{
    background-color: var(--uia-timeline-point-background-color, rgba(187, 255, 213, 0.46));
    border-radius: var(--uia-card-border-radius, 10px); /* Adjust the radius as needed */
    }
  .uia-card__container {
    background-color: rgba(187, 255, 213, 0.46); // Set the background color to white or any desired color
  }

  /* Change the color of the search button */
  .btn-outline-primary {
    color: #3498db; /* Text color */
    background-color: #fff; /* Background color */
    border-color: #3498db; /* Border color */
  }

  /* Change the color of the tag bar button */
  .btn.btn-outline-primary {
    color: #3498db; /* Text color */
    border-color: #3498db; /* Border color */
  }

  /* Change the color of the tag bar button on hover */
  .btn.btn-outline-primary:hover {
    color: #fff; /* Text color on hover */
    background-color: #3498db; /* Background color on hover */
    border-color: #3498db; /* Border color on hover */
  }

  .input-group {
    margin-top: 5px;
  
    .form-control.search-box {
      background-color: #fff; /* Background color */
      color: #000; /* Text color */
      border: 1px solid #3498db; /* Border color */
      padding: 0.375rem 0.75rem; /* Adjust padding as needed */
    }
  
  }
   #results-container li {
  color: #000; /* Text color */
  /* Add any additional styles you want for the text inside the results container */
  }


  #navbarNavAltMarkup.show .navbar-nav {
    padding-top: 25px; /* Example padding top */
    background-color: rgba(255, 255, 255, 0); /* Use rgba for transparency */
    .nav-item.nav-link {
      color: #000000; /* Example text color */
      background-color: #75f3c156; /* Use rgba for transparency */
      backdrop-filter: blur(20px); /* Add a blur effect */
      border-radius: 8px; /* Adjust border radius */
      padding-top: 100px; /* Adjust padding-top to match the upper part */
      margin-bottom:3px; /* Example margin bottom */
      padding: 10px; /* Adjust padding */
    }
  }

  .navbar-themed {
    transition: top 0.5s ease; /* Apply transition to the 'top' property */
    background-color: #75f3c156; /* Use rgba for transparency */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
    padding: 10px 20px; /* Adjust padding */
    border-radius: 100px; /* Adjust border radius */
    margin-top: 10px; /* Adjust margin to pull down without affecting upper layer */
    height: 60px; /* Adjust height to make it shorter */
    margin-left: auto; /* Center horizontally */
    margin-right: auto; /* Center horizontally */
  }
  /* CSS */
  /* For screens smaller than 576px (extra small devices) */
  @media (max-width: 575.98px) {
    .navbar-themed {
      width: 100%; /* Reduce width by half */
    }
  }
  
  /* For screens between 576px and 991px (small devices) */
  @media (min-width: 576px) and (max-width: 991.98px) {
    .navbar-themed {
      width: 80%; /* Adjust width as needed */
    }
  }
  
  /* For screens larger than 992px (medium and larger devices) */
  @media (min-width: 992px) {
    .navbar-themed {
      width: 70%; /* Adjust width as needed */
    }
  }
  
  footer i {
    color: #08910f;
  }
  
  /* Change color for the icons on hover */
  footer i:hover {
    color: #6be9ff;
  }
  hr {
      border: none;
      height: 1px;
      background-color: rgba(0, 0, 0, 0.404); /* Change the color to white */
  }
  
  #academic-pursuits,
  #robotics-achievements,
  #sets-apart {
      background-color: rgba(187, 255, 213, 0.46);
      padding: 20px;
      border-radius: 18px; /* Adjust border radius */
      padding: 10px 20px; /* Adjust padding */
  }

  .post.cardblog {
    background-color: rgba(187, 255, 213, 0.46);

    .card-footer {
      background-color: rgba(187, 255, 213, 0.733);
    }
    transition: transform 400ms;

    &:hover {
      transform: translateY(-8px);
      box-shadow: -2px 8px 40px -12px rgba(0, 0, 0, 0.44);
      color: #6be9ff !important;
    }
  }
  
  // /* SCSS */
  #scrollTopButton {
    position: fixed;
    bottom: 50px;
    right: 50px;
    display: none;
    z-index: 99;
    width: 50px;
    height: 50px;
    // opacity: 0.5;
    border-radius: 50%;
    background-color: rgba(0, 54, 0, 0.171); /* Use rgba for transparency */
    backdrop-filter: blur(10px); /* Add a blur effect */
    color: #fff;
    text-align: center;
    line-height: 40px;
    font-size: 24px;
    cursor: pointer;
    transition: opacity 0.3s ease; /* Add transition for smooth opacity change */
  }
  
  #scrollTopButton:hover {
    transform: scale(1.1); /* Scale up the button on hover */
    color: rgba(0, 131, 0, 0.781); /* Use rgba for transparency */
    background-color: rgba(0, 5, 36, 0.371); /* Use rgba for transparency */
    backdrop-filter: blur(10px); /* Add a blur effect */
  }
  
  #results-container a {
    background-color: rgba(187, 255, 213, 0.46);
    color: #000; /* Example text color */
    border-radius: 5px; /* Example border radius */
    padding: 10px; /* Example padding */
  }
}




