.work-item {
  clear: both;
  overflow: hidden;
  padding-bottom: 2em;
  font-family: "San Francisco", sans-serif;
  font-size: 21px; /* Adjust the font size as needed */

}

.work-bubble {
  width: 60px;
  height: 60px;
  object-fit: cover;
  font-size: 2px; /* Adjust the font size as needed */
}

.work-bubble-with-date {
  float: left;
  padding-right: 20px;
  width: 60 px;
  text-align: center;
  font-family: "San Francisco", sans-serif;
}
.work-bubble-with-date h6 {
  font-size: 8px; /* Adjust the font size as needed for smaller screens */
  text-transform: uppercase; /* Capitalize all text */
  font-weight: bold; /* Make the font thicker */
}

.work-text {
  font-family: "San Francisco", sans-serif;
  overflow: hidden;
  font-size: 12px; /* Adjust the font size as needed */
  padding-right: 2px;

}

/* Styles for screens with a min width of 1200px (adjust as needed) */
@media (min-width: 800px) {
    .work-item {
          clear: both;
          overflow: hidden;
          padding-bottom: 2em;
          font-family: "San Francisco", sans-serif;
          font-size: 21px; /* Adjust the font size as needed */
        }

    .work-bubble {
        width: 130px;
        height: 130px;
        object-fit: cover;
    }

    .work-bubble-with-date {
          float: left;
          padding-right: 50px;
          width: 120 px;
          text-align: center;
          font-family: "San Francisco", sans-serif;
          font-size: 4px; /* Adjust the font size as needed */
        }

    .work-text {
          font-family: "San Francisco", sans-serif;
          overflow: hidden;
          font-size: 21px; /* Adjust the font size as needed */
        }

    .work-bubble-with-date h6 {
          font-size: 18px; /* Larger font size for larger screens */
          text-transform: uppercase; /* Capitalize all text */
          font-weight: bold; /* Make the font thicker */
      }
    
}


// Default heading size for smaller screens
h4.page-heading {
  font-size: 23px; // Default font size for smaller screens
  font-family: sans-serif;
}
h4.mb-3 {
  font-size: 18px; // Default font size for smaller screens
}


// Adjust heading size for medium-sized screens (768px partition)
@media (min-width: 768px) {
  h4.page-heading {
    font-size: 26px; // Adjust font size for medium-sized screens
  }
  h4.mb-3 {
    font-size: 21px; // Default font size for smaller screens
  }

}

// Adjust heading size for larger screens (1200px partition)
@media (min-width: 1200px) {
  h4.page-heading {
    font-size: 30px; // Adjust font size for larger screens
  }
  h4.mb-3 {
    font-size: 24px; // Default font size for smaller screens
  }

}
 
.uia-card__container{
  display: grid;
  gap: var(--uia-card-content-gap, .5rem);
  padding: var(--uia-card-padding, 1rem 1.75rem);
  position: relative;

  background-color: var(--uia-card-background-color);
  border-inline-start:	var(--uia-card-border-thickness, 2px) var(--uia-card-border-style, solid) var(--uia-card-border-color, currentColor);
  box-shadow: var(--uia-card-box-shadow, 0 4px 8px 0 rgba(0, 0, 0, .62), 0 1px 2px 0 rgba(0, 0, 0, .64));
  border-radius: var(--uia-card-border-radius, 10px); /* Adjust the radius as needed */
  // background-color: transparent; /* Ensure the background is transparent */
  background-color: rgba(0, 2, 53, 0.141); //rgba(0, 0, 0, 0.318);
  backdrop-filter: blur(50px); /* Add a blur effect */

  }
  
.uia-card__container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    border-radius: var(--uia-card-border-radius, 10px); /* Adjust the radius as needed */

    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px); /* Adjust the blur radius as needed */
    z-index: -1; /* Ensure the overlay is behind the content */
}

// .uia-card__container{
//     // backdrop-filter: blur(50px); /* Add a blur effect */
//   }
