<div class="content contect" id="contact">
<div class="connect-chamada">
    <strong>Let's collaborate and turn ideas into reality.<br>
    Feel free to send me a message.</strong></div>

{% include globe.html %}
<center><font size="2">This country counter shows visits to this landing page since Sep 19, 2023. <a href="https://www.revolvermaps.com/">Credits</a></font></center>
<br>

<div class="connect-text">
Send email to	<div class="connect-highlight"><a href="mailto:narendhiran2000@gmail.com">narendhiran2000@gmail.com</a></div>
<!-- or message through linkedin	<div class="connect-highlight"><a href="https://www.linkedin.com/in/narendhiran2000">@narendhiran2000</a></div> -->
</div>
<br>
<div class ="container-fluid justify-content-center"><a class="landing-social mx-1"  href="mailto:narendhiran2000@gmail.com"
    style="color: #ffffff;font-size: 30px;"
    onMouseOver="this.style.color='#db4437'"
    onMouseOut="this.style.color='#ffffff'">
   <i class="fas fa-envelope fa-1x"></i>
 </a><a class="landing-social mx-1"  href="https://www.facebook.com/narendhiran.saravanane.9"
    style="color: #ffffff;font-size: 30px;"
    onMouseOver="this.style.color='#3b5998'"
    onMouseOut="this.style.color='#ffffff'">
   <i class="fab fa-facebook fa-1x"></i>
 </a><a class="landing-social mx-1"  href="https://www.github.com/naren200"
    style="color: #ffffff;font-size: 30px;"
    onMouseOver="this.style.color='#333333'"
    onMouseOut="this.style.color='#ffffff'">
   <i class="fab fa-github fa-1x"></i>
 </a><a class="landing-social mx-1"  href="https://www.linkedin.com/in/narendhiran2000"
    style="color: #ffffff;font-size: 30px;"
    onMouseOver="this.style.color='#007bb5'"
    onMouseOut="this.style.color='#ffffff'">
   <i class="fab fa-linkedin-in fa-1x"></i>
 </a><a class="landing-social mx-1"  href="https://www.twitter.com/narendhiran2000"
    style="color: #ffffff;font-size: 30px;"
    onMouseOver="this.style.color='#1da1f2'"
    onMouseOut="this.style.color='#ffffff'">
   <i class="fab fa-twitter fa-1x"></i>
 </a>

<br> <div class="copyright">2023. Narendhiran Saravanane</div>
</div>

</div>
