
<br>
<!-- Name Section -->
<div class="name-section" style="text-align: center;">
  <span style="font-family: Sequel,Arial,Helvetica,sans-serif; font-weight: bold; font-size: 40px; text-align: center;">NARENDHIRAN SARAVANANE</span>
</div>
<br>

<body class ="landing-body">
  <div class="row justify-content-center align-items-center p-10">
    <div class="col-lg-4 col-md-6 text-center mt-10">

      <!-- Fine Circle Responsive Image -->
      <div id="container" class="my-2">
        <div id="dummy" ></div>
        <div id="element">
          <img src="imgs/naren_landing_page.jpg" alt="{{ site.title }}" class="circle-image wow animated " data-wow-delay=".1s" >
        </div>
      </div>
    </div>
  </div>
  <br>
  <div id="text_container">
    <h3>{{site.description}}</h3>
  </div>

  <br><br>
</body>


