{% for item in site.data.worklanding %}
<div class="landing-work-item">
<div class="landing-work-bubble-with-date">
    <img
    src="{{ item.image.src | absolute_url }}"
    alt="{{ item.image.alt }}"
    class="landing-work-bubble"
    />
    {% if item.date %}
    <h6 style="font-size: 3; font-family: sans-serif;">{{ item.date }}</h6>
    {% endif %}
</div>
<div class="landing-uia-card__container"> 
    <p class="landing-work-text">
        <strong>{{ item.title }}</strong> | <em>{{ item.company }}</em>
        <!-- &mdash; -->
        <!-- {{ item.description | markdownify | remove: '<p>' | remove: '</p>' | strip }} -->
    </p>
    
    <ul>
        {% assign description_lines = item.description | split: '\n' %}
        {% for line in description_lines %}
            <li>{{ line | markdownify | remove: '<p>' | remove: '</p>' | strip }}</li>
        {% endfor %}
    </ul>
    
</div>
</div>
{% endfor %}
