<!DOCTYPE html>
<html>
  {% include head.html %}

  <body>
    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        <div class="home">
          <img
            src="{{ page.profile_picture.src | absolute_url }}"
            alt="{{ page.profile_picture.alt }}"
            class="profile-pic"
          />

          {{ content }}
        </div>
      </div>
    </div>

    <div class="page-content">
      <div class="wrapper">
        <center><font size="1">This country counter shows visits to this landing page since Oct 8, 2021. <a href="https://www.revolvermaps.com/">Credits</a></font></center>

        <script type="text/javascript" src="//rf.revolvermaps.com/0/0/6.js?i=5bq4d0diigd&amp;m=7&amp;c=e63100&amp;cr1=ffffff&amp;f=arial&amp;l=0&amp;bv=90&amp;lx=-420&amp;ly=420&amp;hi=20&amp;he=7&amp;hc=a8ddff&amp;rs=80" async="async"></script>
      </div>
    </div>

    {% include footer.html %}

    {% include foot.html %}
  </body>
</html>
